
body {
	background: rgba(240, 240, 240, 1.0);
	color: rgba(50, 50, 50, 1.0);
	font-family: "Roboto Slab", serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}


h1 {
	font-family: "Helvetica";
	font-weight: 700;
	font-size: 28px;
	color: rgba(52, 62, 61, 1.0);		
}

h2, h3 {

	font-family: "Helvetica";
	font-weight: 600;
	font-size: 24px;
	color: rgba(92, 171, 125, 1.0);	
	
}	

a {
	color: rgba(21, 30, 176, 1.0);
	text-decoration: none;
	transition: color 0.3s ease;
}

a:hover {
	color: rgba(118, 21, 176, 1.0);
	text-decoration: none;
}



.container {
	width: 700px;
	margin: 40px auto;
}


.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: rgba(21, 30, 176, 1.0);
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color:white;
}

.list-inline {
	list-style:none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230 / 1.0);
}

.list-inline i:hover {
	color: black;
}


#introduction p {
	margin-bottom: 40px;
}